@charset "utf-8";

/*#region Font imports*/
@font-face {
    font-family: 'Helvetica';
    src: url(../_fonts/Helvetica.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url(../_fonts/Helvetica-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'Metropolis';
    src: url(../_fonts/Metropolis-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url(../_fonts/Metropolis-Medium.otf);
    font-weight: 300;
}
/*#endregion*/

:root{
    /*#region Color styles*/
    --primary-color: #1E57C7;
    --secondary-color: #585E71;

    --primary-100: #FFFFFF;
    --primary-99: #FDFBFF;
    --primary-95: #EDF0FF;
    --primary-90: #DAE2FF;
    --primary-80: #B0C5FF;
    --primary-70: #87A9FF;
    --primary-60: #5D8CFE;
    --primary-50: #4071E1;
    --primary-40: #1E57C7;
    --primary-30: #003FA6;
    --primary-20: #002B76;
    --primary-10: #00184A;
    --primary-0: #000000;

    --shadow-color: hsla(224, 34%, 13%, 0.1);
    
    --secondary-100: #FFFFFF;
    --secondary-99: #FDFBFF;
    --secondary-95: #EDF0FF;
    --secondary-90: #DDE2F9;
    --secondary-80: #C1C6DD;
    --secondary-70: #A5AAC0;
    --secondary-60: #8B90A5;
    --secondary-50: #71778B;
    --secondary-40: #585E71;
    --secondary-30: #404659;
    --secondary-20: #2A3042;
    --secondary-10: #151B2C;
    --secondary-0: #000000;
    /*#endregion*/

    /*#region Font Styles*/
    --title-font: 'Metropolis', sans-serif;
    --text-font: 'Helvetica', sans-serif;
    /*#endregion*/
}