@charset "utf-8";
/*#region Margin config*/
.mt-1{
    margin-top: 20px !important;
}

.mb-1{
    margin-bottom: 20px !important;
}

.ms-1{
    margin-left: 20px !important;
}

.me-1{
    margin-right: 20px !important;
}

.m-1{
    margin: 20px !important;
}

.mt-2{
    margin-top: 25px !important;
}

.mb-2{
    margin-bottom: 25px !important;
}

.ms-2{
    margin-left: 25px !important;
}

.me-2{
    margin-right: 25px !important;
}

.m-2{
    margin: 25px !important;
}

.mt-3{
    margin-top: 30px !important;
}

.mb-3{
    margin-bottom: 30px !important;
}

.ms-3{
    margin-left: 30px !important;
}

.me-3{
    margin-right: 30px !important;
    color: rgb(223, 80, 80);
}

.m-3{
    margin: 30px !important;
}

@media (min-width: 992px){
    .mt-lg-3{
        margin-top: 30px !important;
    }

    .ms-lg-3{
        margin-left: 30px !important;
    }

    .mb-lg-3{
        margin-bottom: 30px !important;
    }

    .menu{
        box-sizing: content-box !important;
        margin-left: -15px !important;
        padding-right: 0px !important;
    }

    .ps-lg-1{
        padding-left: 15px !important;
    }

    .pe-lg-1{
        padding-right: 15px !important;
    }
}

@media (max-width: 992px) {
    .mb-sm-3{
        margin-bottom: 30px !important;
    }
}
/*#endregion*/

/*#region padding*/
.p-1{
    padding: 15px !important;
}

.pt-1{
    padding-top: 15px !important;
}

.pb-1{
    padding-bottom: 15px !important;
}

.py-1{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.px-1{
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.py-middle-1{
    padding-top: 7.5px !important;
    padding-bottom: 7.5px !important;
}
/*#endregion*/

/*#region Text configs*/
.h1-default, .h2-default, .h3-default{
    font-family: var(--title-font);
}

.text-default{
    font-family: var(--text-font);
    color: var(--primary-10);
}

.h1-default{
    font-size: 48px;
    margin-bottom: 5px !important;
    line-height: 1em !important;
    color: var(--primary-10);

}

.h2-default{
    font-size: 34px;
    letter-spacing: 0.25;
    font-weight: 300;
    color: var(--primary-20);
}

.h3-default{
    font-size: 24px;
    color: var(--primary-30);
}

.btn-text{
    font-size: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: var(--secondary-100);
    text-decoration: none;
}

.ul-default{
    list-style: none;
    padding-inline-start: 0px;
    margin-left: 0px;
}
.li-default{
    font-size: 16px;
    font-family: var(--text-font);
    font-weight: bold;
    letter-spacing: 0.5%;
    color: var(--primary-30);
    margin-bottom: 0.2em !important;
}

.link-default{
    text-decoration: none;
}
.link-default:hover{
    color: var(--secondary-90) !important;
    transform: scale(1.04);
}
/*#endregion*/

/*#region sobreposições*/
.container{
    padding: 0px;
}

.bg-primary{
    background-color: var(--primary-color);
}

.row{
    --bs-gutter-x: 30px !important;
    margin-left: 0px;
    margin-right: 0px;
}
.img-fluid{
    max-width: 100% ;
}
/*#endregion*/

body{
    font-family: var(--text-font);
    background-color: var(--primary-95);
}

.btn-menu{
    border: none !important;
    box-shadow: none !important;
}

.menu-icon{
    width: auto !important;
    height: auto !important;
}

.img-menu{
    width: 60px;
    border-radius: 30px;
}

.icon-default{
    font-size: 34px;
    color: var(--secondary-100);
}

.border-default{
    border-radius: 4px;
}

.border-top-default{
    border-radius: 4px 4px 0px 0px;
}

.border-right-default{
    border-radius: 0px 4px 4px 0px;
}

.bg-container{
    background-color: var(--primary-100);
}

.decoration-color{
    color: hsla(220, 74%, 45%, 0.322);
}

.shadow-default{
    box-shadow: 0px 3px 4px 0px var(--shadow-color) ;
}

.gradient-default{
    background-image: linear-gradient(to bottom, var(--primary-40), var(--primary-50));
}