@charset "utf-8";

@media (min-width: 992px){
    .menu{
        box-sizing: content-box !important;
        margin-left: -15px !important;
        padding-right: 0px !important;
    }
}

body{
    font-family: var(--text-font);
    background-color: var(--primary-95);
}

.btn-menu{
    border: none !important;
    box-shadow: none !important;
}

.menu-icon{
    width: auto !important;
    height: auto !important;
}

.img-menu{
    width: 60px;
    border-radius: 30px;
}

.icon-default{
    font-size: 34px;
    color: var(--secondary-100);
}

.icon-decoration{
    font-size: 34px;
    color:#1e56c754;
}

.icon-list{
    font-size: 24px;
    color: var(--primary-30);
    margin-right: 0.1em;
}

.border-default{
    border-radius: 4px;
}

.border-top-default{
    border-radius: 4px 4px 0px 0px;
}

.border-right-default{
    border-radius: 0px 4px 4px 0px;
}

.bg-container{
    background-color: var(--primary-100);
}

.decoration-color{
    color: hsla(220, 74%, 45%, 0.322);
}

.shadow-default{
    box-shadow: 0px 3px 4px 0px var(--shadow-color) ;
}

.gradient-default{
    background-image: linear-gradient(to bottom, var(--primary-40), var(--primary-50));
}